# some useful aliases
[ ! -x "$(which exa)" ] || alias ls="exa -la --group"
alias l='ls -lha'
alias ..='cd ..'

# laravel sail
alias sail='./vendor/bin/sail'

# Colorize output (good for log files)
[ ! -x "$(which bat)" ] || alias cat="bat"
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

[ $TERMINAL != 'kitty' ] || alias ssh="kitty +kitten ssh"

# easier to read disk
alias df='df -h'                          
alias free='free -m'                     

alias doom='$HOME/.emacs.d/bin/doom'

# dotfiles
alias dotfiles="/usr/bin/env git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# updates
alias update='sudo pacman -Syyu'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'

