# some useful aliases
if [ -x "/usr/bin/exa" ]; then 
  alias ls="exa"
else
  alias ls='ls --color --icons'
fi

alias ll='ls -lah --group'
alias ..='cd ..'

# laravel sail
alias sail='./vendor/bin/sail'

# if vim isn't installed then use vim as nvim alias
[ ! -x "/usr/bin/vim" ] && alias vim="nvim"

# Colorize output (good for log files)
[ -x "/usr/bin/bat" ] && alias cat="bat"

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# ssh on kitty 
[[ $TERMINAL != 'kitty' ]] || alias ssh="kitty +kitten ssh"

# easier to read disk
alias df='df -h'                          
alias free='free -m'                     

# confirm before overwriting something
alias cp="cp -i"
alias mv='mv -i'
alias rm='rm -i'

# get top process eating memory
alias psmem='ps auxf | sort -nr -k 4 | head -5'

# get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3 | head -5'

# dotfiles
alias dotfiles="/usr/bin/env git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# updates
alias update='sudo pacman -Syyu'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'

# remove unused dependencies
alias clean-pacman='sudo pacman -R $(pacman -Qtdq) 2>/dev/null || echo "No orphan packages found yet!"'

# rdp
alias xfreerdp='xfreerdp /bpp:32 /w:1920 /h:1000'
