# some useful aliases
[ ! -x "$(which exa)" ] || alias ls="exa"
# alias ls='ls --color'
alias l='ls -la --group'
alias ..='cd ..'

# laravel sail
alias sail='./vendor/bin/sail'

[ ! -x "$(which vim)" ] && alias vim="nvim"

# Colorize output (good for log files)
[ ! -x "$(which bat)" ] || alias cat="bat"
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

[ $TERMINAL != 'kitty' ] || alias ssh="kitty +kitten ssh"

# easier to read disk
alias df='df -h'                          
alias free='free -m'                     

# confirm before overwriting something
alias cp="cp -i"
alias mv='mv -i'
alias rm='rm -i'

# get top process eating memory
alias psmem='ps auxf | sort -nr -k 4 | head -5'

# get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3 | head -5'

# dotfiles
alias dotfiles="/usr/bin/env git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# updates
alias update='sudo pacman -Syyu'
alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'

# remove unused dependencies
alias clean-pacman='sudo pacman -R $(pacman -Qtdq)'
