xset s off
xset -dpms
xset s noblank

# increase keyboard typing speed
xset r rate 210 40

# compositor
picom &

# set keyboard layout to spanish
setxkbmap es &

# auth agent
lxsession &

# background image
nitrogen --restore &

# mouse speed wheel
imwheel &
