xset s off
xset -dpms
xset s noblank

# increase keyboard typing speed
xset r rate 210 40

# compositor
picom -GC &

# set keyboard layout to spanish
setxkbmap es &

# auth agent
lxsession &

# background image
nitrogen --restore &

# notification daemon
dunst &

# screen layout 
xrandr --output eDP1 --primary --mode 1366x768 --pos 0x0 --rotate normal --output DP1 --off --output HDMI1 --mode 1920x1080 --pos 1366x0 --rotate normal --output HDMI2 --off --output VIRTUAL1 --off
