*.normbgcolor: #212121 
*.normbordercolor: #545454
*.normfgcolor: #eeffff

*.selbgcolor: #212121
*.selbordercolor: #c3e88d
*.selfgcolor: #ff5370

/* xterm*selectToClipboard: true */
/* xterm*disallowedWindowOps: 20,21,SetXProp */
/* *.font:	Monospace:pixelsize=15:antialias=true:autohint=true; */
/* *.fontalt0:JetBrainsMono Nerd Font Mono:pixelsize=15:antialias=true:autohint=true; */
/* *.fontalt1:JoyPixels:pixelsize=24:antialias=true:autohint=true; */
/* *.alpha: 0.95 */

! Colors
!
*background: #212121
*foreground: #979eab
*cursorColor: #1a1b26 

! [Dark Colors}
*color0: #000000
*color8: #545454

! [Red] 
*color1: #ff5370
*color9: #ff5370 

! [Green] 
*color2: #c3e88d
*color10: #c3e88d

! [Yellow] 
*color3: #ffcb6b
*color11: #ffcb6b

! [Blue] 
*color4: #82aaff
*color12: #82aaff

! [Magenta] 
*color5: #c792ea
*color13: #c792ea

! [Cyan]
*color6: #89ddff
*color14: #89ddff

! [White]
*color7: #ffffff 
*color15: #ffffff 
